server {
       listen 80 default_server;
       listen [::]:80 default_server ipv6only=on;

       root /usr/share/nginx/html;
       index index.html index.htm;

       location / {
 
                 {% if Application_type  == 'tomcat' %}
                  proxy_pass       http://localhost:8080;
                 {% endif %}
                 {% if Application_type  == 'nodejs' %}
                  proxy_pass       http://localhost:2368;
                 {% endif %}
                
                proxy_set_header Host      $host;
                proxy_set_header X-Forwarded-For $remote_addr;
       }
}
