[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
query_cache_size=0
query_cache_type=0
bind-address=0.0.0.0
wsrep_on=ON
binlog_format=ROW
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="my_wsrep_cluster"
wsrep_cluster_address="gcomm://{{ clusters }}"
wsrep_sst_method=rsync
wsrep_node_address="{{ ansible_default_ipv4.address }}"
wsrep_node_name="{{ hostname }}"